{% extends "base.html" %}

{% block content %}
<h2>Customers</h2>

<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <thbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.company}}</td>
                <td>{{customer.first_name}}</td>
                <td>{{customer.last_name}}</td>
                <td><button>View</button></td>
            </tr>
            {% endfor %}
        </thbody>
    </table>
</div>
{% endblock %}
